@model QLess.UI.Models.TravelViewModel
@{
    ViewBag.Title = "Register";
}

<h4>Create a new account.</h4>
<hr />
<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            <label>MRT 1</label>
            <input type="radio" id="rBtnMrt1"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            <label>MRT 2</label>
            <input type="radio" id="rBtnMrt2" checked="true"  />
        </div>
    </div>
</div>

<div id="mrt2Container">
    <div class="row">
        <div class="form-group">
            <h4>Entry:</h4>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Entry, Model.MRT2Stations)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <h4>Exit:</h4>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Entry, Model.MRT2Stations,new { @id = "Exit"})
            </div>
        </div>
    </div>
</div>
<div id="mrt1Container" style="display:none">
    <h3>MRT 1 development was not finished</h3>
</div>

<br />
<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            <input type="button" class="btn btn-default" value="Travel" onclick="onClickValidation()" />
        </div>
    </div>
</div>
@section scripts
{
    <script language="javascript">
        $('input[type=radio]').click(function () {
            resetSelection();

            var mrtSelection = $(this).attr('id');

            if (mrtSelection === "rBtnMrt1") {
                document.getElementById('mrt1Container').style.display = 'block';
                document.getElementById('mrt2Container').style.display = 'none';
                document.getElementById('rBtnMrt2').checked = false;
            }
            else if (mrtSelection === "rBtnMrt2") {
                document.getElementById('mrt1Container').style.display = 'none';
                document.getElementById('mrt2Container').style.display = 'block';
                document.getElementById('rBtnMrt1').checked = false;
            }
        });

    function onClickValidation() {
        var _entry = $('#Entry').val();
        var _exit = $('#Exit').val();

        $.ajax({
            dataType: "json",
            type: 'POST',
            url: '@Url.Action("AjaxTravelToStation", "Travel")',
            data: {
                entry: _entry,
                exit: _entry
            },
            success: function (data) {
                console.log(data);
            },
            error: function () {
                alert('Error');
            },
            complete: function () {
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            },
            beforeSend: function () {
                $("#overlay").fadeIn(300);
            },
        });
        }

        function resetSelection() {

        }
    </script>
    }
